.adSetting {
  .wrapper {
    .blocks {
      &.search {
        // margin-top: 33px;

        .block {
          @media (max-width: 1439px) {
            width: calc(100% - 40px);
            max-width: unset;
          }

          @media (max-width: 767px) {
            width: calc(100% - 30px);
          }

          // &:first-of-type {
          //   .wrap {
          //     .h4 {
          //       // @include h4();
          //       margin-bottom: 23px;
          //       display: block;
          //     }
          //   }
          // }

          &:last-of-type {
            position: relative;

            .notice {
              position: absolute;
              top: 64px;
              right: 0;
              background-color: $clrLightGrey;
              box-sizing: border-box;
              padding: 36px 40px 58px 40px;
              width: 100%;
              max-width: 700px;
              background-image: url('/images/notice_blue_bg.png');
              background-position: center;
              background-size: cover;

              @media (max-width: 1439px) {
                position: static;
                max-width: 800px;
                margin: 30px auto;
                padding: 30px 40px;
              }

              @media (max-width: 900px) {
                margin: 10px auto;
              }

              @media (max-width: 600px) {
                padding: 25px;
              }
            }
          }
        }
      }

      &.network {
        // margin-top: 21px;

        .block {
          @media (max-width: 600px) {
            width: calc(100% - 30px);
          }

          &:first-of-type {
            .wrap {
              .h4 {
                // @include h4();
                margin-bottom: 23px;
                display: block;
              }
            }
          }

          &:last-of-type {
            .wrap {
              .h5 {
                margin-bottom: 12px;
                display: block;
              }
            }
          }
        }
      }
    }

    // .borderBox {
      // margin-top: 58px;

      // @media (max-width: 1200px) {
      //   margin-top: 30px;
      // }
      //
      // @media (max-width: 900px) {
      //   margin-top: 20px;
      // }
      //
      // @media (max-width: 600px) {
      //   margin-top: 13px;
      // }
    // }
  }
}
