.eightReasons {
	position: relative;
  overflow: hidden;
	height: 590px;
	background-image: url('/images/reasonsSliderBg.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: $clrWhite;

	@media (max-width: 1200px) {
		height: auto;
		min-height: 590px;
	}

	.wrapper {
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		position: relative;
		min-height: inherit;

		> h2 {
			margin-top: 60px;
			z-index: 10;

			@media (max-width: 1200px) {
				margin-top: 46px;
			}
		}

		.wrap {
			max-width: 560px;
			margin-bottom: 10px;

			@media (max-width: 1200px) {
				max-width: 470px;
			}

			@media (max-width: 600px) {
				padding-top: 180px;
				position: relative;
			}

			.title {
				@include h4();
				position: relative;
				margin-top: 40px;
				z-index: 10;

				@media (max-width: 900px) {
					@include h3_320();
				}
			}

			.text {
				position: relative;
		    margin-top: 15px;
				z-index: 10;
			}

			img {
				position: absolute;
				top: 0;
				right: 0;
				z-index: 1;

				&[data-index="0"]{
					top: 150px;
					right: -120px;
				}
				&[data-index="1"]{
					top: 150px;
					right: 50px;
				}

				&[data-index="2"]{
					top: 140px;
					right: -360px;
				}

				&[data-index="3"]{
					top: 150px;
					right: -5px;
				}

				&[data-index="4"]{
					top: 180px;
					right: -165px;
				}

				&[data-index="5"]{
					top: 175px;
					right: 15px;
				}

				&[data-index="6"]{
					top: 155px;
					right: -115px;
				}

				&[data-index="7"]{
					top: 240px;
					right: 30px;
				}

				@media (max-width: 1200px) {
					&[data-index="0"]{
						top: 34%;
				    right: -70px;
				    width: 527px;
					}
					&[data-index="1"]{
						top: 39%;
				    right: 50px;
				    width: 315px;
					}

					&[data-index="2"]{
						top: 32%;
				    right: -280px;
				    width: 890px;
					}

					&[data-index="3"]{
						top: 39%;
				    right: 14px;
				    width: 407px;
					}

					&[data-index="4"]{
						top: 39%;
				    right: -85px;
				    width: 546px;
					}

					&[data-index="5"]{
						top: 42%;
				    right: 35px;
				    width: 426px;
					}

					&[data-index="6"]{
						top: 36%;
				    right: -53px;
				    width: 850px;
					}

					&[data-index="7"]{
						top: 54%;
				    right: 20px;
				    width: 445px;
					}
				}

				@media (max-width: 900px) {
					&[data-index="0"]{
						top: 46%;
				    right: -79px;
				    width: 446px;
					}
					&[data-index="1"]{
						top: 52%;
				    right: 20px;
				    width: 266px;
					}

					&[data-index="2"]{
						top: 46%;
				    right: -244px;
				    width: 653px;
					}

					&[data-index="3"]{
						top: 52%;
				    right: -20px;
				    width: 344px;
					}

					&[data-index="4"]{
						top: 51%;
				    right: -135px;
				    width: 462px;
					}

					&[data-index="5"]{
						top: 60%;
				    right: 35px;
				    width: 326px;
					}

					&[data-index="6"]{
						top: 49%;
				    right: -90px;
				    width: 727px;
					}

					&[data-index="7"]{
						top: 54%;
				    right: -42px;
				    width: 376px;
					}
				}

				@media (max-width: 600px) {
					&[data-index] {
						transform: translateX(-50%);
					}

					&.slide-up-play {
						animation: slide_up_center 0.25s;
					}

					&.slide-down-play {
						animation: slide_down_center 0.25s;
					}

					&[data-index="0"]{
						top: 0;
						width: 297px;
				    left: calc(50% + 20px);
					}
					&[data-index="1"]{
						top: 15px;
				    left: calc(50% + 0px);
				    width: 210px;
					}

					&[data-index="2"]{
						top: 15px;
				    left: calc(50% + 50px);
				    width: 563px;
					}

					&[data-index="3"]{
						top: 10px;
				    left: calc(50% + 0px);
				    width: 290px;
					}

					&[data-index="4"]{
						top: 15px;
				    left: calc(50% + 50px);
				    width: 382px;
					}

					&[data-index="5"]{
						top: 40px;
				    left: calc(50% + 0px);
				    width: 250px;
					}

					&[data-index="6"]{
						top: 15px;
				    left: calc(50% + -100px);
				    width: 557px;
					}

					&[data-index="7"]{
						top: 50px;
				    left: calc(50% + 0px);
				    width: 340px;
					}
				}
			}
		}

		.nextReason {
			margin-top: auto;
		}

		.pagination {
			margin: 25px 0 25px 0;
	    z-index: 10;

			ul {
				display: flex;
				margin: 0;
				padding: 0;

				li {
					position: relative;
					width: 22px;
					height: 22px;
	        margin: 0 7px 0 0;

					&::before {
						position: absolute;
						cursor: pointer;
						content: '';
						width: 14px;
						height: 14px;
						background-color: $clrOldBlue;
						border-radius: 50%;
						left: 50%;
						top: 50%;
						transform: translate(-50%,-50%);
						box-sizing: border-box;
					}

					&.active {

						&::before {
							cursor: default;
							background-color: $clrDarkGray;

						}

						&::after {
							position: absolute;
							content: '';
							width: 22px;
							height: 22px;
							border-radius: 50%;
							left: 50%;
							top: 50%;
							transform: translate(-50%,-50%);
							box-sizing: border-box;
							border: 1px solid $clrDarkGray;
						}
					}
				}
			}
		}
	}

	.slides {
		display: none;
	}
}
