section.heading {
	overflow: hidden;
	height: 450px;

	@media (max-width: 1440px) {
		// height: 520px;
	}

	@media (max-width: 1000px) {
		height: 355px;
	}

	@media (max-width: 600px) {
		height: unset;
	}

	.wrapper {
		display: flex;
		flex-direction: column;
		position: relative;

		@media (max-width: 1510px) {
			height: 100%;
			justify-content: center;
		}


	}

	h1 {
		background: radial-gradient(ellipse at left bottom, rgba(254,249,140,1) 0%,rgba(255,168,0,1) 100%);
		-webkit-background-clip: text !important;
		-webkit-text-fill-color: transparent;
		color: #FFA800;
		// line-height: normal;
	}

	.text {
		// font-size: 30px;
		// line-height: 36px;
		@include paragraphText_1920();
		color: $clrWhite;

		// @media (max-width: 1000px) {
		// 	font-size: 24px;
		// 	line-height: 32px;
		// }

		@media (max-width: 600px) {
			@include smallText();
			// font-size: 18px;
			// line-height: 26px;
		}
	}
}

.heading.blueBg {
	background-image: url('/images/sectionHeadingBlueBg.svg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
