.heading.ad {
	position: relative;

	.wrapper {
		h1 {
			width: 610px;
			z-index: 1;
			margin: 78px 0 20px;

			@media (max-width: 1440px) {
				margin: 0 0 8px 0;
			}

			@media (max-width: 767px) {
				margin: 25px 0 5px 0;
			}

			@media (max-width: 650px) {
				width: unset;
			}
		}

		.text {
			width: 430px;
			z-index: 1;

			@media (max-width: 1000px) {
				width: 450px;
			}

			@media (max-width: 767px) {
		    margin-bottom: 39px;
			}

			@media (max-width: 490px) {
				width: unset;
			}
		}

		img {
			position: absolute;
			top: 44px;
			right: 95px;
			width: 822px;

			// @media (max-width: 1440px) {
			// 	right: 95px;
			// 	top: 130px;
			// 	width: 500px;
			// }

			@media (max-width: 1000px) {
				width: 608px;
				top: 33px;
				right: 74px;
			}

			@media (max-width: 900px) {
				width: 537px;
				top: 45px;
				right: 38px;
			}

			@media (max-width: 767px) {
				display: none;
			}
		}
	}
}
