.machineOrHuman {
	background-image: url('/images/terminator.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
  image-rendering: pixelated;
	color: $clrWhite;
	position: relative;

  @media (max-width: 767px) {
    display: none;
  }

	.wrapper {
		position: relative;
    padding: 65px 20px 70px 20px;
		z-index: 20;

    @media (max-width: 900px) {
      padding: 50px 20px 30px 20px;
    }

		.blocks {
			.block {
        @media (max-width: 1200px) {
          width: calc(100% - 30px);
          max-width: none;
        }
			}
		}
	}
}
