.try_with_us {
  background-image: url('/images/benefit_bg.svg');
  background-position: center;
  background-size: cover;
  color: #fff;

  h2 {
    margin-top: 60px;
  }

  &_form {
    .form_submit_wrap {
      align-items: center;
    }
  }
}
