$clrYellow: #FFD53F;
$clrLightGrey: #F2F4F8;
$clrLightGreyBorder: rgba(242, 244, 248, 0.5);
$clrFooterGrey: #5B6982;
$clrFooterGreyBorder: rgba(91, 105, 130, 0.5);
$clrText: #021434;
$clrBlue: #2D6BC0;
$clrOldBlue: #3070c7;
// $clrBlueBorder: rgba(45, 107, 192, 0.5);
$clrBlueBorder: rgba(77, 152, 255, 0.5);;
$clrWhite: #FFFFFF;
$clrBtnDisabled: #CDD4DF;
$clrDisabled: #5B6982;
$clrVisitedLink: #7230C7;
$clrDisabledLink: #CDD4DF;
$clrActiveLink: #15417D;
$clrHoverLink: #4D98FF;
$clrFooterBg: #F4F6F8;
$clrDarkGray: #CDD4DF;
$clrSectionLightGray: #F5F7F9;
$clrRed: #C80202;
$clrRedBorder: #C80202;
$clrInvertRed: #FFAAAA;

$clr: #FFD53F;

$lgYelow: linear-gradient(0deg, #FFAA09 0%, #FFC000 100%);
$lgYelowLigth: linear-gradient(0deg, #FEC250 0%, #FFD53F 100%);
$lgYelowDark: linear-gradient(359.87deg, #EFA10C 1.41%, #FFC000 169.02%);

$lgBlue: linear-gradient(180deg, #4D98FF 0%, #3070C7 100%), linear-gradient(0deg, #FFAA09 0%, #FFC000 100%);
$lgBlueLigth: linear-gradient(180deg, #6EACFF 0%, #4986DA 100%);
$lgBlueDark: linear-gradient(180deg, #4D98FF -75%, #3070C7 100%), linear-gradient(0deg, #FFAA09 0%, #FFC000 100%);;

$btnShadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
$btnShadowLight: 0px 2px 4px rgba(0, 0, 0, 0.1);
