@import "_colors";
@import "_mixins";
@import "_animations";
@import "components/*";
@import "lib/*";
@import "sections/*";

body {
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	color: $clrText;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.wrapper {
	max-width: 1200px;
	padding: 0 20px;
	margin: 0 auto;

	@media (max-width: 767px) {
		padding: 0 15px;
	}
}

.bold {
	font-weight: bold;
}


h1,
.h1 {
	@include h1();
}

a {
	text-decoration: none;
}

p {
	margin: 12px 0;

	&:only-of-type {
		margin: 0;
	}
	&:first-of-type {
		margin-top: 0;
	}
	&:last-of-type {
		margin-bottom: 0;
	}
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

input,
textarea {
	-webkit-appearance: none;
	outline: none;
	border: none;
	border-radius: 0px;
}

main {
	flex-grow: 1;
}

section {
	ol {
		margin: 12px 0 0 0;

		li {
			margin: 0 0 12px 0;
		}
	}

	ul {
		margin: 0;
		padding: 0 0 0 40px;

		li {
			margin: 0 0 12px;
			position: relative;

			&:before {
				content: '—';
				position: absolute;
				left: -25px;
				top: 0;
			}
		}
	}
}

.hidden {
	display: none !important;
}

.mobile_hidden {
	@media (max-width: 600px){
		display: none !important;
	}
}

.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
