.form {
  font-size: 18px;

  .elementWrap {
    position: relative;
    margin-bottom: 35px;

    label {
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      transition: .2s ease;
      transform: scale(1) translate3d(0,0,0);
      transform-origin: left;
    }

    input {
      height: 30px;
      font-size: 18px;
      line-height: 28px;
      box-sizing: border-box;
      width: 100%;
      position: relative;
      background-color: transparent;
      z-index: 10;

      &:focus ~ label,
      &.filled ~ label {
        // transform: translate3d(0,-100%,0);
        // font-size: 14px;
        // line-height: 18px;
        // top: 7px;
        transform: scale(0.79) translate3d(0,-100%,0);
      }

      &:-webkit-autofill {
        transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
      }
    }

    .error {
      position: absolute;
      @include smallText();
    }
  }

  .elementsRow {
    display: flex;
    align-items: center;
    &.submit {
      @media (max-width: 900px) {
        flex-direction: column;
        align-items: flex-start;

        & .elementWrap {

          &:first-of-type {
            margin-right: 0 !important;
            margin-bottom: 15px;
          }

          &:last-of-type {
            margin-left: 34px;

            > label {
              font-size: 14px;
              line-height: 18px;
            }
          }
        }
      }

      .elementWrap {
        &:first-of-type {
          margin-right: 50px;
          button[type="submit"]{
            width: 240px;
          }
        }

        &:last-of-type {
          input[type="checkbox"] {
            display: none;

            &:checked + label:after{
              position: absolute;
              content: '';
              width: 22px;
              height: 22px;
              top: 1px;
              left: -34px;
              background-image: url('/images/checkMark.svg');
              background-repeat: no-repeat;
              background-position: center;
            }
          }

          label[for="policy"] {
            position: relative;
            line-height: 28px;
            display: block;

            &:before {
              position: absolute;
              content: '';
              width: 22px;
              height: 22px;
              top: 1px;
              left: -34px;
              border: 1px solid $clrFooterGreyBorder;
              border-radius: 2px;
              box-sizing: border-box;
            }
          }
        }
      }

    }
  }

  &.light {
    .elementWrap {
      input {
        border-bottom: 1px solid $clrFooterGreyBorder;

        &.invalid {
          border-bottom: 1px solid $clrRed !important;
        }

        &:focus {
          border-bottom: 1px solid $clrFooterGrey;
        }
      }

      .error {
        color: $clrRed;
      }

    }
  }

  &.dark {
    .elementWrap {
      input {
        border-bottom: 1px solid $clrFooterGreyBorder;

        &:focus {
          border-bottom: 1px solid $clrFooterGrey;
        }
      }

      .error {
        color: $clrInvertRed;
      }

    }
  }
}

.form {
  $pr: &;

  &_row {
    display: flex;

    #{$pr}_element {
      margin-right: 20px;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  &_blocks {
    display: flex;
    margin: 0 -15px;
  }

  &_block {
    margin: 0 15px;
    max-width: 455px;

    #{$pr}_element {
      margin-bottom: 35px;
    }

    &__half {
      width: calc((100% / 2) - 30px);
    }
  }

  &_radio {
    &__btn {
      &:checked + label {
        background-color: $clrYellow;
        border-color: $clrYellow;
        border-image: none;
        border-radius: 2px;

        &:before {
          display: none;
        }

        span {
          color: $clrText;
        }
      }
    }
  }

  &_checkbox {
    display: none;

    &:checked + &_label:after{
      position: absolute;
      content: '';
      width: 22px;
      height: 22px;
      top: 1px;
      left: -34px;
      background-image: url('/images/checkMark.svg');
      background-repeat: no-repeat;
      background-position: center;
    }

    &_label {
      position: relative;
      line-height: 28px;
      display: block;
      margin-left: 34px;

      &:before {
        position: absolute;
        content: '';
        width: 22px;
        height: 22px;
        top: 1px;
        left: -34px;
        border: 1px solid;
        border-radius: 2px;
        box-sizing: border-box;
      }
    }
  }

  &_element {
    position: relative;
  }

  &_input {
    height: 30px;
    font-size: 18px;
    line-height: 28px;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    background-color: transparent;
    z-index: 10;
    color: inherit;
    border-bottom: 1px solid;

    &:focus ~ &_label,
    &_filled ~ &_label {
      transform: scale(0.79) translate3d(0,-100%,0);
    }

    &:-webkit-autofill {
      transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
    }

    &_label {
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      transition: .2s ease;
      transform: scale(1) translate3d(0,0,0);
      transform-origin: left;
    }

    &_error {
      position: absolute;
      @include smallText();
    }
  }

  &_submit {
    height: 60px;
  }

  &__light {
    color: #fff;

    #{$pr}_checkbox_label:before {
      border-color: $clrLightGreyBorder;
    }

    #{$pr}_input {
      &_invalid {
        border-color: $clrInvertRed;
      }

      &_error {
        color: $clrInvertRed;
      }
    }
  }

  &__dark {
    color: $clrText;

    #{$pr}_checkbox_label:before {
      border-color: $clrFooterGreyBorder;
    }

    #{$pr}_input {
      &_invalid {
        border-color: $clrRedBorder;
      }

      &_error {
        color: $clrRed;
      }
    }
  }
}
