header {
	width: 270px;
	padding: 23px;
    box-sizing: border-box;
    background-color: $clrLightGrey;
    z-index: 1000;

    .wrap {
    	display: flex;
    	flex-direction: column;
	    height: 100%;

	    .logo {
		    margin: 0 0 20px 0;

	    	a {
				color: $clrText;

		    	span {
					font-family: MullerBold;
					font-size: 26px;
					line-height: 39px;
		    	}

					img {
						width: 37px;
					}
	    	}
	    }

	    .phones {
	    	position: relative;


	    	.phone {
			    display: flex;
	    		align-items: center;
	    		font-family: MullerBold;
				font-size: 18px;
				line-height: 28px;

				> a {
					color: $clrText;
				    margin: 0 8px 0px 0;
				}
	    	}

	    	.mainPhone {
			    position: relative;
	    		z-index: 15;
	    		margin-bottom: 3px;

	    		.notice {
	    			font-size: 14px;
					line-height: 18px;
					color: #5B6982;
	    		}

				@media (min-width: 1200px) {
					&:hover + .dropDown {
			    		opacity: 1;
			    	}
				}

	    	}

	    	.dropDown {
			    position: absolute;
			    background: #fff;
			    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
					border-radius: 5px;
			    left: -15px;
			    top: -10px;
			    right: 25px;
			    display: flex;
			    flex-direction: column;
			    z-index: 10;
			    overflow: hidden;
			    opacity: 1;
			    transition: .2s ease;

			    &.collapsed {
					height: 65px;
					opacity: 0
			    }

			    .wrap {

			    	padding: 65px 0 10px 15px;
			    	box-sizing: border-box;

			    }
	    	}

		    .email {
		    	a {
					font-size: 14px;
					line-height: 28px;
		    	}
		    }

	    }

	    .menu {
			ul {
				li {
					margin: 0 0 14px 0;

					a, span {
						font-family: MullerBold;
						font-size: 14px;
						line-height: 21px;
						letter-spacing: 0.1em;
						text-transform: uppercase;
						color: $clrText;
						transition: .2s ease;
				    transition-property: color;
					}

					span {
						cursor: default;

						&.active {
							color: $clrHoverLink;
						}
					}

					a:hover {
						color: $clrHoverLink;
						transition: 0s ease;
					}
				}
			}
	    }

	    .btn.yellow {
		    margin: auto 0 20px 0;
	    }

	    .social {
	    	a {
	    		margin: 0 10px 0 0;

	    		&:last-child {
	    			margin: 0;
	    		}

	    		svg {
	    			fill: $clrText;
	    			transition: .2s ease;
		    		position: relative;

	    			&:hover {
	    				fill: $clrHoverLink;
	    				transition: 0s ease;
	    			}

	    			&:active {
		    			top: 1px;
		    		}
	    		}
	    	}
	    }
    }

}

$gambAnimSpeed: .4s;

.gamb {
	position: relative;
	width: 20px;
	height: 18px;

	> div {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		cursor: pointer;

		> span {
			display: block;
			width: 100%;
			height: 2px;
			background: $clrText;
			transition: all .2s;
			position: relative;
		}

		span + span {
			margin-top: 6px;
		}

		&.active {
			> span {
				&:nth-child(1) {
					animation: ease #{$gambAnimSpeed} top forwards;
				}

				&:nth-child(2) {
					animation: ease #{$gambAnimSpeed} scaled forwards;
				}

				&:nth-child(3) {
					animation: ease #{$gambAnimSpeed} bottom forwards;
				}

			}
		}

		&.not-active {
			> span {
				&:nth-child(1) {
					animation: ease #{$gambAnimSpeed} top-2 forwards;
				}

				&:nth-child(2) {
					animation: ease #{$gambAnimSpeed} scaled-2 forwards;
				}

				&:nth-child(3) {
					animation: ease #{$gambAnimSpeed} bottom-2 forwards;
				}

			}
		}

	}
}

@keyframes top {
  0% {
    top: 0;
    transform: rotate(0);
  }
  50% {
    top: 8px;
    transform: rotate(0);
  }
  100% {
    top: 8px;
    transform: rotate(45deg);
  }
}

@keyframes top-2 {
  0% {
    top: 8px;
    transform: rotate(45deg);
  }
  50% {
    top: 8px;
    transform: rotate(0deg);
  }
  100% {
    top: 0;
    transform: rotate(0deg);
  }
}

@keyframes bottom {
  0% {
    bottom: 0;
    transform: rotate(0);
  }
  50% {
    bottom: 8px;
    transform: rotate(0);
  }
  100% {
    bottom: 8px;
    transform: rotate(135deg);
  }
}

@keyframes bottom-2 {
  0% {
    bottom: 8px;
    transform: rotate(135deg);
  }
  50% {
    bottom: 8px;
    transform: rotate(0);
  }
  100% {
    bottom: 0;
    transform: rotate(0);
  }
}

@keyframes scaled {
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes scaled-2 {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@media (min-width: 1510px) {
	header {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
	}
}

@media (min-width: 768px) {
	header {
		.wrap {
			.gamb {
				display: none;
			}
		}
	}
}

@media (min-width: 768px) and (max-width: 1509px) {
	header {
		line-height: 14px;

		&.fixed {
			width: 100%;
			position: fixed;
			left: 0;
			top: 0;

			.wrap {
				padding: 0 20px;
				align-items: center;
				justify-content: space-between;

				.logo {
					order: 0;
			    margin-right: 20px;

					a {
						> span {
							display: none;
						}
					}
				}

				.phones {
					order: 2;
			    margin: 0 0 0 20px;

					.mainPhone {
						> span {
							line-height: 18px;
						}
					}

					.dropDown {
						&.collapsed {
							height: 50px;
							top: -7px;
						}
					}

					.email {
						display: none;
					}
				}

				.menu {
					order: 1;
					width: unset;
			    padding: 15px 0 14px 0;

					ul {
						li {
							@media (max-width: 1490px) {
								margin: 0 55px 0 0;
							}

							@media (max-width: 1350px) {
								margin: 0 35px 0 0;
							}

							@media (max-width: 1200px) {
								margin: 0 20px 0 0;
							}

							@media (max-width: 1100px) {
								margin: 0 18px 0 0;
								a,
								span {
									font-size: 12px;
								}

							}
						}
					}
				}

				.btn.yellow {
					display: none;
				}

				.social {
					display: none;
				}
			}
		}
	}
}

@media (max-width: 1509px) {
	header {
		width: 100%;
		padding: 0;

		.wrap {
			flex-direction: row;
			flex-wrap: wrap;
	    max-width: 1450px;
	    padding: 19px 20px 0px 20px;
			margin: 0 auto;


			.logo {
				order: 0;
				margin: 0;
			}

			.phones {
				order: 1;
			    margin: 0 25px 0 auto;

			    .mainPhone {
			    	margin-bottom: 0px;
			    }

			    .dropDown {
			    	right: -15px;
			    }

	    		.email {
					order: 2;
					position: absolute;
					top: -5px;
					left: calc(100% + 25px);
				}
			}

			.menu {
				width: 100%;
			  padding: 17px 0;
				order: 5;

				ul {
					display: flex;
					li {
						margin: 0 75px 0 0;
						&:last-child {
							margin: 0;
						}
					}

				}
			}

			.btn.yellow {
				order: 4;
				margin: 0;
			}

			.social {
				order: 3;
			    margin: auto 60px 0 0;
			}
		}
	}

}

@media (max-width: 1280px) {
	header {
		.wrap {
			.menu {
				ul {
					li{
						margin: 0 70px 0 0;
					}
				}
			}
		}
	}
}

@media (max-width: 1200px) {
	header {
		.wrap {
			.menu {
				ul {
					li{
						margin: 0 40px 0 0;
					}
				}
			}
		}
	}
}

@media (max-width: 1000px) {
	header {
		.wrap {
			.menu {
				ul {
					li{
						margin: 0 22px 0 0;

						a, span {
							font-size: 12px;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 900px) {
	header {
		.wrap {
		    .logo {
			    margin: 0;

		    	a {
					color: $clrText;

			    	span {
					    font-size: 23px;
    					line-height: normal;
			    	}

			    	img {
			    		width: 33px;
			    	}
		    	}
		    }
		    .phones {
	    	    margin: 0 20px 0 auto;

	    	    .phone {
	    	    	line-height: 22px;
	    	    }

		    	.email {
		    		left: calc(100% + 10px);
		    	}
		    }
			.menu {
			    padding: 12px 0;
			}
			.btn.yellow {
				min-width: 180px;
				height: 41px;
				line-height: 41px;
			}
			.social {
		        margin: auto 40px 0 0;

			    a {
		    	    margin: 0 3px 0 0;
			    }

			    .fb {
			    	svg {
			    		width: 7px;
			    	}
			    }

			    .inst {
			    	svg {
			    		width: 15px;
			    	}
			    }

			    .cossa {
			    	svg {
			    		width: 50px;
			    	}
			    }
			}
		}

	}
}

@media (max-width: 767px) {
	header {
		position: fixed;
		height: 50px;
		overflow: hidden;
		transition: height .2s ease;
    display: flex;
  	flex-direction: column;

  	&.open {
  		height: 100vh;
			overflow-y: scroll;

			> .wrap {
				&:before {
					box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
				}
			}
  	}

		> .wrap {
			&:before {
				position: fixed;
				content: '';
				height: 50px;
				left: 0px;
				right: 0px;
				top: 0;

				background-color: $clrLightGrey;

			}

			width: 100%;
	    align-items: center;
	    padding: 50px 15px 0 15px;
	    box-sizing: border-box;
			flex-direction: column;
			flex-wrap: nowrap;

			.logo {
				order: 1;
				position: fixed;
				top: 0;
				left: 50%;
				transform: translateX(-80%);
				height: 51px;
				display: flex;
				align-items: center;

				a {
					span {
						font-size: 15px;
					}

					img {
						width: 20px;
					}
				}
			}

			.phones{
				order: 4;
				width: 100%;
			    margin: 0 0px 0 0;

			    .mainPhone {
			    	margin-bottom: 8px;

			    	.phone {
			    		.dropDownArrow {
			    			display: none;
			    		}
			    	}
			    }

			    .dropDown {
		    	    position: static;
				    opacity: 1;
				    height: auto;
				    box-shadow: none;
				    background-color: transparent;

				    .wrap {
				    	padding: 0;
			    	    align-items: flex-start;
						flex-direction: column;
						margin: 0;

				    	span {
				    		margin-bottom: 8px;
				    	}
				    }
				    &.collapsed {
				    	opacity: 1;
				    	height: auto;
				    }
			    }

			    .email {
		    	    left: 0;
				    bottom: -25px;
				    top: unset;
			    }
			}

			.menu {
				order: 3;
				width: 100%;
        margin: 13px 0 18px 0;
		    padding: 0;

				ul {
					flex-direction: column;
					li{
					    margin: 0 0 10px 0;
					}
				}
			}

			.btn.yellow {
				order: 2;
		    height: 24px;
		    line-height: 20px;
		    min-width: 100px;
				position: fixed;
				top: 13px;
				right: 15px;

			    span {
			    	font-size: 10px;
			    }
			}

			.social {
				order: 5;
		    margin: 0 0 20px 140px;
			}

			.gamb {
				order: 0;
				position: fixed;
				top: 0;
				height: 50px;
				left: 15px;
			}
		}
	}
}
